<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.css' rel='stylesheet' />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="css/map.css">
</head>
  <div id='map'></div>
  <div id='left-pane'>
    <div id='filters' >
      <ul>
        <li>
          <h3>Time Stamp</h3>
        </li>
        <li>
          <img class="insta" src="">
        </li>
    </ul>
    <ul style="list-style-type: none;">
</ul>
    </div>
  </div>
<script type="text/javascript" src="js/mapbox.js"></script>
<style>
li{
  float:left;
  padding: 10px;
}
.insta{
/*  float: left; */
  height: 200px;
  
}
</body>